# IMPORTING NECESSARY LIBRARIES FIRST

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# LOADING THE DATASETS

In [34]:
train_data = pd.read_csv("train_u6lujuX_CVtuZ9i.csv")
test_data = pd.read_csv("test_Y3wMUE5_7gLdaTN.csv")

# DATA PRE-PROCESSING

In [35]:
#CLEANING THE DATA AND ADDING IN THE MISSING VALUES
mean = train_data["LoanAmount"].mean()
train_data["LoanAmount"].fillna(mean, inplace=True)
mean = train_data["Credit_History"].mean()
train_data["Credit_History"].fillna(mean, inplace=True)
#USING MEAN WHERE THERE ARE A LOT OF UNIQUE INT VALUES AND MODE WHERE THERE ARE LIMITED UNIQUE VALUES
mode = train_data["Loan_Amount_Term"].mode()[0]
train_data["Loan_Amount_Term"].fillna(mode, inplace=True)
mode = train_data["Dependents"].mode()[0]
train_data["Dependents"].fillna(mode, inplace=True)
mode = train_data["Married"].mode()[0]
train_data["Married"].fillna(mode, inplace=True)
mode = train_data["Gender"].mode()[0]
train_data["Gender"].fillna(mode, inplace=True)
mode = train_data["Self_Employed"].mode()[0]
train_data["Self_Employed"].fillna(mode, inplace=True)

In [36]:
train_data.isna().sum()  #CHECKING IF THERE IS ANY MISSING VALUE PRESENT

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [37]:
train_data.drop("Loan_ID", axis=1, inplace=True)
test_data.drop("Loan_ID", axis=1, inplace=True)
#DROPPING LOAN ID AS EACH TAB HAD A UNIQUE VALUE WITH A LETTER WHICH CAUSED PROBLEM WHILE NORMALISING AND ENCODING THE VALUES

# ENCODING THE VALUES

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()
cat_cols = ["Gender", "Married", "Education", "Self_Employed", "Property_Area","Loan_Status", "Dependents"]

In [40]:
for col in cat_cols:
    le.fit(train_data[col])
    train_data[col] = le.transform(train_data[col])

cat_cols = ["Gender", "Married", "Education", "Self_Employed", "Property_Area", "Dependents"]
    
for col in cat_cols:
    le.fit(test_data[col])
    test_data[col] = le.transform(test_data[col])

In [41]:
train_data #CHECKING IF ALL THE VALUES ARE CONVERTED INTO NUMERICAL VALUES

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1
610,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,1
611,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1
612,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,1
613,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0

In [42]:
test_data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,NaN,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
362,1,1,3,1,1,4009,1777,113.0,360.0,1.0,2
363,1,1,0,0,0,4158,709,115.0,360.0,1.0,2
364,1,0,0,0,0,3250,1993,126.0,360.0,NaN,1
365,1,1,0,0,0,5000,2393,158.0,360.0,1.0,0
366,1,0,0,0,1,9200,0,98.0,180.0,1.0,0

In [43]:
train_data.corr() #CHECKING THE HIGH CORRELATING FACTOR WITH LOAN AMOUNT
#IN THIS CASE APPLICANT INCOME WAS HIGH CORRELATING WITH LOAN AMOUNT

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Gender,1.000000,0.364569,0.172914,0.045364,-0.000525,0.058809,0.082912,0.107930,-0.074030,0.012819,-0.025752,0.017987
Married,0.364569,1.000000,0.334216,0.012304,0.004489,0.051708,0.075948,0.147141,-0.100912,0.005852,0.004257,0.091478
Dependents,0.172914,0.334216,1.000000,0.055752,0.056798,0.118202,0.030430,0.163106,-0.103864,-0.037392,-0.000244,0.010118
Education,0.045364,0.012304,0.055752,1.000000,-0.010383,-0.140760,-0.062290,-0.166998,-0.073928,-0.077936,-0.065243,-0.085884
Self_Employed,-0.000525,0.004489,0.056798,-0.010383,1.000000,0.127180,-0.016100,0.115260,-0.033739,-0.002260,-0.030860,-0.003700
ApplicantIncome,0.058809,0.051708,0.118202,-0.140760,0.127180,1.000000,-0.116605,0.565620,-0.046531,-0.014477,-0.009500,-0.004710
CoapplicantIncome,0.082912,0.075948,0.030430,-0.062290,-0.016100,-0.116605,1.000000,0.187828,-0.059383,-0.001665,0.010522,-0.059187
LoanAmount,0.107930,0.147141,0.163106,-0.166998,0.115260,0.565620,0.187828,1.000000,0.036475,-0.007738,-0.044776,-0.036416
Loan_Amount_Term,-0.074030,-0.100912,-0.103864,-0.073928,-0.033739,-0.046531,-0.059383,0.036475,1.000000,-0.003546,-0.076120,-0.022549
Credit_History,0.012819,0.005852,-0.037392,-0.077936,-0.002260,-0.014477,-0.001665,-0.007738,-0.003546,1.000000,-0.001880,0.540483
Property_Area,-0.025752,0.004257,-0.000244,-0.065243,-0.030860,-0.009500,0.010522,-0.044776,-0.076120,-0.001880,1.000000,0.032112
Loan_Status,0.017987,0.091478,0.010118,-0.085884,-0.003700,-0.004710,-0.059187,-0.036416,-0.022549,0.540483,0.032112,1.000000

In [44]:
#SPLITTING THE TRAIN AND TEST DATA INTO FEATURES(X_TRAIN, X_TEST) AND TARGET(Y_TRAIN, Y_TEST)
X_train = train_data.drop("ApplicantIncome", axis=1)
y_train = train_data["LoanAmount"]
X_test = train_data.drop("ApplicantIncome", axis=1)
y_test = train_data["LoanAmount"]

# NORMALIZING THE VALUES

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
scaler = MinMaxScaler()  #INITIALIZE THE SCALER

In [47]:
scaler.fit(X_train) #FITTING THE SCALER ON THE TRAINING DATA
#TRANSFORMING THE TRAINING AND TESTING DATA
X_train = scaler.transform(X_train) 
X_test = scaler.transform(X_test)

# LINEAR REGRESSION MODEL

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
#TRAINING THE LINEAR REGRESSION MODEL USING THE TRAIN DATA

In [50]:
regressor = LinearRegression()

In [51]:
regressor.fit(X_train, y_train)

LinearRegression()

In [52]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [53]:
y_pred = regressor.predict(X_test)

In [54]:
y_test #CHECKING HOW MUCH CORRECT THE MODEL PREDICTED

0      146.412162
1      128.000000
2       66.000000
3      120.000000
4      141.000000
          ...
609     71.000000
610     40.000000
611    253.000000
612    187.000000
613    133.000000
Name: LoanAmount, Length: 614, dtype: float64

In [55]:
y_pred

array([146.41216216, 128.        ,  66.        , 120.        ,
       141.        , 267.        ,  95.        , 158.        ,
       168.        , 349.        ,  70.        , 109.        ,
       200.        , 114.        ,  17.        , 125.        ,
       100.        ,  76.        , 133.        , 115.        ,
       104.        , 315.        , 116.        , 112.        ,
       151.        , 191.        , 122.        , 110.        ,
        35.        , 120.        , 201.        ,  74.        ,
       106.        , 114.        , 320.        , 146.41216216,
       100.        , 144.        , 184.        , 110.        ,
        80.        ,  47.        ,  75.        , 134.        ,
        96.        ,  88.        ,  44.        , 144.        ,
       120.        , 144.        , 100.        , 120.        ,
       112.        , 134.        , 286.        ,  97.        ,
        96.        , 135.        , 180.        , 144.        ,
       120.        ,  99.        , 165.        , 146.41216216,
       116.        , 258.        , 126.        , 312.        ,
       125.        , 136.        , 172.        ,  97.        ,
        81.        ,  95.        , 187.        , 113.        ,
       176.        , 110.        , 180.        , 130.        ,
       111.        , 146.41216216, 167.        , 265.        ,
        50.        , 136.        ,  99.        , 104.        ,
       210.        , 175.        , 131.        , 188.        ,
        81.        , 122.        ,  25.        , 146.41216216,
       137.        ,  50.        , 115.        , 131.        ,
       133.        , 151.        , 146.41216216, 146.41216216,
       160.        , 100.        , 225.        , 120.        ,
       216.        ,  94.        , 136.        , 139.        ,
       152.        , 146.41216216, 118.        , 185.        ,
       154.        ,  85.        , 175.        , 259.        ,
       180.        ,  44.        , 137.        ,  81.        ,
       194.        ,  93.        , 370.        , 146.41216216,
       160.        , 182.        , 650.        ,  74.        ,
        70.        ,  25.        , 102.        , 290.        ,
        84.        ,  88.        , 242.        , 129.        ,
       185.        , 168.        , 175.        , 122.        ,
       187.        , 100.        ,  70.        ,  30.        ,
       225.        , 125.        , 118.        , 152.        ,
       244.        , 113.        ,  50.        , 600.        ,
       160.        , 187.        , 120.        , 255.        ,
        98.        , 275.        , 121.        , 158.        ,
        75.        , 182.        , 112.        , 129.        ,
        63.        , 200.        ,  95.        , 700.        ,
        81.        , 187.        ,  87.        , 116.        ,
       101.        , 495.        , 116.        , 102.        ,
       180.        ,  67.        ,  73.        , 260.        ,
       108.        , 120.        ,  66.        ,  58.        ,
       168.        , 188.        ,  48.        , 164.        ,
       160.        ,  76.        , 120.        , 170.        ,
       187.        , 120.        , 113.        ,  83.        ,
        90.        , 166.        , 146.41216216, 135.        ,
       124.        , 120.        ,  80.        ,  55.        ,
        59.        , 127.        , 214.        , 128.        ,
       240.        , 130.        , 137.        , 100.        ,
       135.        , 131.        ,  72.        , 127.        ,
        60.        , 116.        , 144.        , 175.        ,
       128.        , 170.        , 138.        , 210.        ,
       158.        , 200.        , 104.        ,  42.        ,
       120.        , 280.        , 140.        , 170.        ,
       255.        , 122.        , 112.        ,  96.        ,
       120.        , 140.        , 155.        , 108.        ,
       123.        , 120.        , 112.        , 137.        ,
       123.        ,  90.        , 201.        , 138.        ,
       104.        , 279.        , 192.        , 255.        ,
       115.        ,  94.        , 304.        , 128.        ,
       330.        , 134.        , 155.        , 120.        ,
       128.        , 151.        , 150.        , 160.        ,
       135.        ,  90.        ,  30.        , 136.        ,
       126.        , 150.        ,  90.        , 115.        ,
       207.        ,  80.        , 436.        , 124.        ,
       158.        , 112.        ,  78.        ,  54.        ,
       146.41216216,  89.        ,  99.        , 120.        ,
       115.        , 187.        , 139.        , 127.        ,
       134.        , 143.        , 172.        , 110.        ,
       200.        , 135.        , 151.        , 113.        ,
        93.        , 105.        , 132.        ,  96.        ,
       140.        , 146.41216216, 135.        , 104.        ,
       480.        , 185.        ,  84.        , 111.        ,
        56.        , 144.        , 159.        , 111.        ,
       120.        ,  88.        , 112.        , 155.        ,
       115.        , 124.        , 146.41216216, 132.        ,
       300.        , 376.        , 130.        , 184.        ,
       110.        ,  67.        , 117.        ,  98.        ,
        71.        , 490.        , 182.        ,  70.        ,
       160.        , 176.        , 146.41216216,  71.        ,
       173.        ,  46.        , 158.        ,  74.        ,
       125.        , 160.        , 152.        , 126.        ,
       259.        , 187.        , 228.        , 308.        ,
        95.        , 105.        , 130.        , 116.        ,
       165.        ,  67.        , 100.        , 200.        ,
        81.        , 236.        , 130.        ,  95.        ,
       141.        , 133.        ,  96.        , 124.        ,
       175.        , 570.        ,  55.        , 155.        ,
       380.        , 111.        , 110.        , 120.        ,
       130.        , 130.        ,  71.        , 130.        ,
       128.        , 296.        , 156.        , 128.        ,
       100.        , 113.        , 132.        , 146.41216216,
       136.        , 125.        , 185.        , 275.        ,
       120.        , 113.        , 113.        , 135.        ,
        71.        ,  95.        , 109.        , 103.        ,
        45.        ,  65.        , 103.        ,  53.        ,
       194.        , 115.        , 115.        ,  66.        ,
       152.        , 360.        ,  62.        , 160.        ,
       218.        , 110.        , 178.        ,  60.        ,
       160.        , 239.        , 112.        , 138.        ,
       138.        ,  80.        , 100.        , 110.        ,
        96.        , 121.        ,  81.        , 133.        ,
        87.        ,  60.        , 150.        , 105.        ,
       405.        , 143.        , 100.        , 146.41216216,
        50.        , 146.41216216, 187.        , 138.        ,
       187.        , 180.        , 148.        , 152.        ,
       175.        , 130.        , 110.        ,  55.        ,
       150.        , 190.        , 125.        ,  60.        ,
       149.        ,  90.        ,  84.        ,  96.        ,
       118.        , 173.        , 136.        , 160.        ,
       160.        , 128.        , 153.        , 132.        ,
        98.        , 140.        ,  70.        , 110.        ,
        98.        , 110.        , 162.        , 113.        ,
       100.        ,  93.        , 162.        , 150.        ,
       230.        , 132.        ,  86.        , 146.41216216,
       154.        , 113.        , 128.        , 234.        ,
       246.        , 131.        ,  80.        , 500.        ,
       160.        ,  75.        ,  96.        , 186.        ,
       110.        , 225.        , 119.        , 105.        ,
       107.        , 111.        ,  95.        , 209.        ,
       113.        , 100.        , 208.        , 138.        ,
       124.        , 243.        , 480.        ,  96.        ,
       188.        ,  40.        , 100.        , 250.        ,
       148.        ,  70.        , 311.        , 150.        ,
       113.        , 123.        , 185.        ,  95.        ,
        45.        ,  55.        , 100.        , 480.        ,
       146.41216216, 400.        , 110.        , 161.        ,
        94.        , 130.        , 216.        , 100.        ,
       110.        , 196.        , 125.        , 126.        ,
       324.        , 107.        ,  66.        , 157.        ,
       140.        ,  99.        ,  95.        , 128.        ,
       102.        , 155.        ,  80.        , 145.        ,
       103.        , 110.        , 146.41216216, 146.41216216,
       158.        , 181.        , 132.        ,  26.        ,
        84.        , 260.        , 162.        , 182.        ,
       108.        , 600.        , 211.        , 132.        ,
       258.        , 120.        ,  70.        , 123.        ,
         9.        , 104.        , 186.        , 165.        ,
       275.        , 187.        , 150.        , 108.        ,
       136.        , 110.        , 107.        , 161.        ,
       205.        ,  90.        ,  36.        ,  61.        ,
       146.        , 172.        , 104.        ,  70.        ,
        94.        , 106.        ,  56.        , 205.        ,
       292.        , 142.        , 260.        , 110.        ,
       187.        ,  88.        , 180.        , 192.        ,
       350.        , 155.        , 128.        , 172.        ,
       496.        , 146.41216216, 173.        , 157.        ,
       108.        ,  71.        ,  40.        , 253.        ,
       187.        , 133.        ])

In [56]:
mse = mean_squared_error(y_test, y_pred)

In [57]:
mae = mean_absolute_error(y_test, y_pred)

In [58]:
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae) #CALCULATING AND PRINTING THE MAE AND MSE

Mean Squared Error: 8.664236623027586e-27
Mean Absolute Error: 6.850546188950901e-14

# POLY REGRESSION MODEL

In [59]:
from sklearn.preprocessing import PolynomialFeatures

In [60]:
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)

In [61]:
#TRAINING THE POLY REGRESSION MODEL WITH THE TRAIN DATA
regressor = LinearRegression()
regressor.fit(X_train_poly, y_train)

LinearRegression()

In [62]:
X_test_poly = poly.transform(X_test)

In [63]:
y_pred = regressor.predict(X_test_poly)

In [64]:
mse = mean_squared_error(y_test, y_pred)
mae = np.mean(np.abs((y_test, y_pred)))

In [65]:
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae) #CALCULATING AND PRINTING THE MAE AND MSE

Mean Squared Error: 4.612556050698316e-26
Mean Absolute Error: 146.41216216216213

# FINALLY LINEAR REGRESSION HAS A BETTER ACCURACY IN THIS CASE.